@import 'imports';

#homepage {
  .experiments-link {
    background-color: #fff;
    text-align: center;
    display: block;
    font-weight: normal;
    font-family: "equity-caps-b";
    border-bottom: 1px solid $white;
  }
}