@import 'imports';

experiment-carousel {
  @include clearfix;
  background-color: $white;
  display: block;
  position: relative;
  padding-right: 0px !important;
  padding-left: 0px !important;

  .carousel-left, .carousel-right {
    color: $medium-gray;
    position: absolute;
    bottom: 3px;
    height: 50px;
    width: 20px;
    opacity: .5;
    z-index: 1000;
    cursor: pointer;
    font-size: 20px;

    &:hover {
      color: $dark-gray;
    }
  }
  .carousel-left {
    left: 3px;
  }
  .carousel-right {
    right: -2px;
  }

  .cardflow-wrapper {
    height: 402px;
    position:relative;
    overflow:hidden;
    width: 100%;

  }

  .cardflow-container {
    width: 300%;
    padding-left: $gutter;

    /* disable text selection */
    -webkit-touch-callout: none;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
    outline: 0;

    cursor: pointer;

    /* card movement transition */
    transition: transform 1s ease-out;
    -webkit-transition: -webkit-transform 1s ease-out;
    -moz-transition: -moz-transform 1s ease-out;
    -o-transition: -o-transform 1s ease-out;
    -ms-transition: -ms-transform 1s ease-out;

  }


  experiment {
    float:left;
    margin-right: $gutter;
    width: 100px;
  }
}