<div id="login" class="grid-container">
  <div class="centered-box">
    <div ng-show="login.error" ng-class="{visible: login.error}" class="centered-box-flash error">
      {{ login.error }}
    </div>

    <div class="centered-box-contents">
      <form ng-submit="login.formSubmit()">
        <label>Email:
          <input type="text" ng-model="login.email" auto-focus>
        </label>
        <label>Password:
          <input type="password" ng-model="login.password">
        </label>

        <div class="links">
          <div><a ui-sref="signup"><strong>Sign up</strong></a></div>
          <div><a class="forgot" ui-sref="login.forgot">I forgot my password</a></div>
        </div>

        <button>Login</button>
      </form>
    </div>
  </div>
</div>
