<div id="login" class="grid-container">
  <div class="centered-box">
    <div class="centered-box-contents">
      <form>
        <label>Email:
          <input type="text" ng-model="email">
        </label>
        <label>Password:
          <input type="password" ng-model="password">
        </label>

        <div class="links">
          <div><a ui-sref="signup"><strong>Sign up</strong></a></div>
          <div><a ui-sref="login.forgot">I forgot my password</a></div>
        </div>

        <button>Login</button>
      </form>
    </div>
  </div>
</div>
