<div id="signup" class="grid-container">
  <div class="centered-box">
    <div ng-show="signup.error" ng-class="{visible: signup.error}" class="centered-box-flash error">
        {{ signup.error }}
    </div>
    <div class="centered-box-contents">
      <form name="signupForm" ng-submit="signup.formSubmit()">

        <label>Your email:
          <span ng-if="signupForm.email.$touched" class="validation-error">
            <span ng-if="signupForm.email.$error.required">
              Please enter an email address
            </span>
            <span ng-if="signupForm.email.$error.email">
              Please enter a valid email address
            </span>
          </span>
          <input type="email" name="email" ng-model="signup.email" required auto-focus>
        </label>

        <label>A Password:
          <span ng-if="signupForm.password.$touched" class="validation-error">
            <span ng-if="signupForm.password.$error.required">
              Please enter a password
            </span>
          </span>
          <input type="password" name="password" ng-model="signup.password" required>
        </label>

        <button>Sign Up!</button>
      </form>
    </div>
    <div class="centered-box-contents privacy">
      <h3>A Note About Your Privacy:</h3>
      <p>Your email and your identity will always remain private.
        Data collected during experiments (which may include
        keystrokes and mouse movement, but only those occurring on
        this site) can and will be collected and made
        public.</p>
      <p>Thanks for signing up!</p>
    </div>
  </div>
</div>
