// #{$all-button-inputs},
button, .button {
  @include appearance(none);

  display: inline-block;
  border: none;
  border-radius: $base-border-radius;
  background-color: $action-color;
  cursor: pointer;
  padding: 0.75em 1em;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1;
  white-space: nowrap;
  color: #fff;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  user-select: none;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }

  &:focus {
    outline: none;
    border-color: $action-color;
    box-shadow: $form-box-shadow-focus;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.secondary {
    background-color: $white;
    color: $dark-gray;

    &:hover,
    &:focus {
      background-color: $light-gray;
      color: #fff;
    }
  }

  &.encouraged {
    background-color: $green;

    &:hover,
    &:focus {
      background-color: darken($green, 15%);
      color: #fff;
    }
  }

  &.dangerous {
    background-color: $red;

    &:hover,
    &:focus {
      background-color: darken($red, 15%);
      color: #fff;
    }
  }
}
