body {
  background-color: $light-gray;
}

.grid-container {
  @include outer-container();

  @include media($tablet-grid) {
    margin-right: $base-spacing;
    margin-left: $base-spacing;
  }

  @include media($mobile-grid) {
    margin-right: $base-spacing / 2;
    margin-left: $base-spacing / 2;
  }


  .page {
    border-radius: $base-border-radius;
    background-color: $white;
    overflow: hidden;

    .section {
      padding: $base-spacing;

      &.text {
        @include clearfix;
        background-color: #fff;
        padding: $base-spacing;

        &:last-of-type {
          padding-bottom: $base-spacing * 3;
        }

        >* {
          @include span-columns(7);
          @include shift(2);
          @include media($tablet-grid) {
            @include fill-parent;
            @include shift(0);
          }
        }
      }
    }
  }

}
