body {
  @include font-feature-settings("kern", "liga", "dlig", "pnum", "ss01");
  text-rendering: optimizeLegibility;

  line-height: $base-line-height;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h1, h2, h3 { margin-top:0; margin-bottom:0; }
h1 { font-size:1.5em; padding:1.45833em 0; }
h2 { font-size:1.33333em; padding:1.25em 0; }
h3 {
  @include font-feature-settings("c2sc");
  font-size:1em;
  font-weight: bolder;
  padding: 1.5em 0 1.25em;
}

acronym {
  @include font-feature-settings("c2sc");
  font-family: "equity-caps-b";
}

p {
  font-family: 'equity-text-b';
  margin: 0 0 1em;
  padding-left: 1em;
  &:last-of-type {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;
  color: $action-color;
  cursor: pointer;
  font-weight: bold;

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 5%);
  }

  &.white {
    color: #fff;

    &:active,
    &:focus,
    &:hover {
      color: #eee;
    }
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  margin: $base-spacing 0;
  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}


blockquote {
  border-left: 3px solid #FA0;
  padding: $small-spacing $base-spacing;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 0;

  >p {
    font-size: 1em;
    font-style: italic;
    line-height: 1.8;
    color: #777;
    margin: 0;
    padding: 0;
  }

  &.long {
    padding-right: 0;
    margin-right: $small-spacing;

    p {
      font-size: 1em;
      font-style: inherit;
      line-height: inherit;
      color: #777;
      margin: 0 0 1em;
    }
  }
}

[justify] {
  visibility: hidden;
}

tt {
  font-size: .9em;
  font-family: monospace;
  color: #555;
}