@import 'imports';

experiment {
  position: relative;
  margin-bottom: $base-spacing / 2;

  border-radius: $base-border-radius;
  background-color: #fff;
  cursor: pointer;
  height: 400px;
  overflow: hidden;

  @include media($max-width-grid) {
    @include span-columns(4);
  }

  @include media($tablet-grid) {
    @include span-columns(4);
  }

  @include media($mobile-grid) {
    @include span-columns(4);
  }

  &:hover {
    outline: none;
    box-shadow: 2px 2px 2px rgba($medium-gray, .5);
  }

  .img {
    height: 150px;
    width: 100%;
    background-color: $medium-gray;
  }

  .content {
    padding: 0 $base-spacing / 2;

    .title {
      position: relative;
      top: -$base-spacing / 3;
      left: -$base-spacing / 2;
      opacity: .9;
      margin: 0;
      border-top-right-radius: $base-border-radius;
      border-bottom-right-radius: $base-border-radius;
      background-color: $base-accent-color;
      padding: $base-spacing / 2;
      color: #fff;
    }
    p {
      margin: 0;
      padding: 0;
    }
  }
  .requirements {
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: $base-spacing / 4 $base-spacing / 2;
    border-top: 1px solid $white;
    color: $medium-gray;
    >* {
      font-size: .8em;
    }
    .duration {
      float: right;
    }
  }
  .results {
    display: none;
    position: absolute;
    top: 30px;
    right: 0px;
    background-color: $green;
    width: 80%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: $medium-gray;
    color: #fff;
    font-weight: bold;
    border-top-left-radius: $base-border-radius /2;
    border-bottom-left-radius: $base-border-radius /2;

    &.has-results {
      display: block;
    }
  }
}